{
  "parser": "babel-eslint",
  "plugins": [
    "react", "jest"
  ],
//    "extends": "airbnb",
  "rules": {
    "one-var": ["error", "never"],
    "max-len": [1, 200, 2, {"ignoreComments": true}],
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}],
    "no-case-declarations": 0,
    "space-before-function-paren": [2, "never"],
    "space-before-blocks": [2, "always"],
    "keyword-spacing": 2,
    "no-multi-spaces": 2,
    "no-param-reassign": 2,
    "arrow-parens": 0, // Seems to be buggy
    "eol-last": 2,
    "object-shorthand": [2, "methods"],
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "no-underscore-dangle": 0,
    "no-alert": 2,
    "no-fallthrough": 2,
    "no-lone-blocks": 2,
    "no-useless-call": 2,
    "no-use-before-define": 0,
    "no-new": 2,
    "no-labels": 2,
    "no-undef": 2,
    "semi": [2, "always"],
    "no-extra-semi": 2,
    "block-scoped-var": 2,
    "array-bracket-spacing": [2, "never"],
    "padded-blocks": [2, "never"],
    "no-trailing-spaces": 2,
    "no-multiple-empty-lines": [2, {"max":1}],
    "indent": [2, 4, {"SwitchCase":1, "VariableDeclarator":1}],
    "comma-style": [2, "last"],
    "brace-style": [2, "1tbs"],
    "strict": [2, "never"],
    "comma-dangle": [2, "never"],
    "react/display-name": 1,
    "react/prop-types": 2,
    "react/jsx-boolean-value": 0,
    "react/jsx-key": 2,
    "react/jsx-no-duplicate-props": 1,
    "react/jsx-no-literals": 0,
    "react/jsx-no-undef": 2,
    "react/jsx-pascal-case": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "no-console": [2, { "allow": ["error"] }],
    "react/no-danger": 2,
    "react/no-deprecated": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/react-in-jsx-scope": 2,
    "react/no-is-mounted": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/no-unused-prop-types": [2, {"skipShapeProps": true}],
    "jest/no-identical-title": 2
  },
  "env" : {
    "browser" : true,
    "node" : true,
    "jest" : true,
    "jasmine" : true,
    "es6": true
  }
}
